

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="display-4 text-danger mb-4">404 ERROR</h1>
    <a href="/" class="btn btn-primary">Go to Home</a>
</div>


